<main class="page">
  <div>
    <% if (page.path === "about/index.html"){ %>
      <div >
        <img src="<%- url_for(theme.small_kitty)%>" width="89" height="129" id="animated_div_left"/>
        <img src="<%- url_for(theme.small_kitty)%>" width="89" height="129"/>
        <img src="<%- url_for(theme.small_kitty)%>" width="89" height="129" id="animated_div_right"/>
      </div>
      <div>
        <%- page.content %>
      </div>
    <% } %>
    <% if (page.path === "tags/index.html"){ %>
      <div>
        <h1>Tags</h1>
      </div>
      <div class="tags">
        <%- tagcloud({
          amount: 999,
          color: true,
          start_color: 'gray',
          end_color: 'black',
        }) %>
      </div>
    <% } %>
  </div>
</main>
